@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

*{
font-family: 'Poppins', sans-serif;
font-size: 14px;
margin: 0;
padding: 0;
box-sizing: border-box;
}

.container{
    width: max-content;
    margin: auto;
    height: 100vh;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 30px 0;
}

.urls li {
    list-style-type: none;
    font-weight: 600;
}

.urls li a{
    font-size: 16px;
    transition: .2s linear;
}

.urls li a:hover{
    /* color: rgb(23, 14, 14); */
    transform: scaleX(2px);
    font-size: 20px;
    border-bottom: 2px solid rebeccapurple;
}

a {
    color: black;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

body{
    background-color: rgb(255, 251, 247);
    height: 100vh;
}

.profile_container{
    /* display: flex; */
    gap: 20px;
}

.profile_picture img {
    width: 80%;
}

._profile{
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* height: 80vh; */
    width: 50%;
    /* flex-wrap: wrap;
    align-items: start; */
    /* justify-content: space-around; */
}

._profile div:first-child{
    flex: 1;
}


/* Style the image as an icon */
.logos img {
    width: 24px; /* Set the desired width */
    height: 24px; /* Set the desired height */
    /* padding-top: 20px; */
}

.footer-main{
    padding-top: 50px;
}
.footer-main p{
    text-align: center;
    /* font-family: 'Times New Roman', Times, serif; */
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-transform: capitalize;
}